@charset "UTF-8";

h1 {
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

h2{
    font-family: Helvetica, sans-serif;
    font-style: italic;
    text-align: left;
    font-size: 30px;
}
body {
    background-image: url('Images/totalbackground.jpg');
    background-size: cover;
}

#header {
    width: 90%;
    margin-left: 160px;
    margin-right: 200px;
    padding: 50px 50px;
    font-family: Helvetica, Light, sans-serif;
}

.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding: 18px 5px 18px 10px;
    background-color: slategray;
    font-family: Helvetica, Light, sans-serif;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
}

.sidebar a:hover{
    color: azure;
}

#body {
    width: 90%;
    margin-left: 160px;
    padding: 50px 50px 150px 50px;
    font-family: Helvetica, Light, sans-serif;
}

#footer {
    width: 90%;
    margin-left: 160px;
    padding: 50px 50px;
    font-family: Helvetica, Light, sans-serif;
}


p {
    text-align: justify-all;
    margin: auto;
}

