@charset "UTF-8";

body, html {
    height: 100%;
}

.bg {
    background-image: url('Images/totalbackground.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

#header {
    width: 90%;
    margin-left: 160px;
    margin-right: 200px;
    padding: 100px 50px 100px 50px;
    font-family: Helvetica, Light, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

#heading1 {
    width: 90%;
    margin-left: 160px;
    padding: 10px 50px 30px 50px;
    text-align: justify-all;
    font-family: Helvetica, Light, sans-serif;
    font-style: italic;
    font-size: 40px;

}

.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding: 100px 5px 18px 10px;
    background-color: slategray;
    font-family: Helvetica, Light, sans-serif;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 32px;
    color: black;
    display: block;
}

.sidebar a:hover{
    color: azure;
}

#body {
    width: 90%;
    margin-left: 160px;
    padding: 10px 50px 10px 50px;
    text-align: justify-all;
    font-size: 30px;
    font-family: Helvetica, Light, sans-serif;
}

#footer {
    width: 90%;
    margin-left: 160px;
    padding: 50px 50px 50% 50px;
    font-family: Helvetica, Light, sans-serif;
}





